<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="powerarm_urdf">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import powerarm_urdf urdf file -->
    <xacro:include filename="$(find powerarm_urdf)/urdf/powerarm_urdf.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="powerarm_urdf.ros2_control.xacro" />


    <xacro:powerarm_urdf_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
